<form #facturacionBusquedaForm="ngForm">
    <div class="bg-primary-accent">
        <div class="row">
            <br/>
        </div>
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <h5 class="text-white">Estación</h5>
                    <select name="estacionField"  class="form-control text-white" style="border-left:0px !important"  [(ngModel)]="parametrosBusqueda.NoEstacion" #estacionField="ngModel" required>
                        <option style="color:black" *ngFor="let estacion of estaciones" [value]="estacion.NoEstacion">{{ estacion.Nombre }}</option>
                    </select>
                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="text-white">Folio</h5>
                        <input name="ticketField" type="text" class="form-control text-white" style="border-left:0px !important" [(ngModel)]="parametrosBusqueda.NoTicket" #ticketField="ngModel" required/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <h5 class="text-white">Dígito Verificador</h5>
                        <input name="numeroVerificadorField" type="text" style="border-left:0px !important" class="form-control text-white" [(ngModel)]="parametrosBusqueda.NoVerificador" #numeroVerificadorField="ngModel" required/>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
                        <h5 class="hidden-xs hidden-sm">&nbsp;</h5>
                        <popover-content #myPopover 
                                    placement="bottom"
                                    [animation]="true" 
                                    [closeOnClickOutside]="true">
                                    <!--Imagen de ticket-->
                            <img src="../Images/Ticket.jpg" alt="" class="img-responsive">
                        </popover-content>
                        <button [popover]="myPopover" [popoverOnHover]="true" type="button" class="btn btn-primary btn-circle"><i class="fa fa-question"></i></button>
                    </div>     
                     <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                        <popover-content #myPopoversm 
                                    placement="bottom"
                                    [animation]="true" 
                                    [closeOnClickOutside]="true">
                                    <!--Imagen de ticket-->
                            <img src="../Images/Ticket.jpg" alt="" class="img-responsive">
                        </popover-content>
                        <br/>
                        <button [popover]="myPopoversm" [popoverOnHover]="true" type="button" class="btn btn-primary btn-circle center-block"><i class="fa fa-question"></i></button>
                    </div>        
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h5 class="hidden-xs hidden-sm">&nbsp;</h5>
                    <br class="hidden-md hidden-lg"/>
                    <button type="button" class="btn btn-danger btn-block" style="vertical-align:bottom !important;" [disabled]="!facturacionBusquedaForm.valid" (click)="SolicitarLocalizacionDeTransaccion()">Agregar Ticket</button>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</form>

<modal [attr.animation]="true" [attr.keyboard]="true" [attr.backdrop]="true" (onClose)="closedModal()" (onOpen)="openedModal()" #busquedaTransaccionModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Busqueda</h4>
    </modal-header>
    <modal-body>
       {{ mensajeServicio }}        
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="dismissedModal()">Ok</button>
    </modal-footer>
</modal>
