<div class="block-UI-backdrop-in block-UI-backdrop block-ui-overlay"></div>
     <div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
        <div class="block-ui-message">
            <table style="height:40px !important;">
                <tr><td class="center space">{{ message }}</td></tr>
                <tr>
                    <td class="center">
                        <div>
                            <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                            </svg>
                        </div>
                    </td>
                </tr>
            </table>
        </div>        
    </div>