<body style="height:100%; width: 100%; position: absolute">
    <div class="WrapBody fullBlueContainer"> 
        <div class="">
            <!--<img src="" class="img-responsive" style="width:300px;">-->
            <div class="container-fluid">
                <div class="row">
                    <h5 style="color:white;" class=""><img class="img-responsive"  src="Images/clientelogo.png" style="width:150px;"/></h5>
                </div> 
                <div>
                    <div style="height:100% !Important; min-height:100% !Important;">  
                        <br />
                        <br />
                        <facturacion-autenticacion></facturacion-autenticacion>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>