/*Main*/
.MainBody{
	height: 100% !Important;
	overflow:auto;
  	/*padding-bottom:10px;*/
}

.WrapBody {
  min-height: 100%;
}

.footer {
  position: relative;
  margin-top: -10px; /* negative value of footer height */
  height: 140px;
  clear:both;
  padding-top:20px;
  background-color: #0277DB !important;
}

/*Alignments*/
.text-center {
    text-align: center;
}

/*Colors*/
.text-white{
    color:white !important;

}
.text-Italics {
    font-style: italic;
}
.text-normal {
	font-style: normal !important;
	font-weight: normal !important;
}


.fullBlueContainer {
    background-color:#d22630 !important;
    /*vertical-align: middle !important;*/
    /*top:50%;*/
}

.fill {
    min-height: 100%;
    height: 100%;
    
}


/*Forms*/

.ng-valid[required] {
  border-left: 5px solid #4CAF50; /* green */
}

.ng-invalid {
  border-left: 5px solid #d22630; /* red */
}

/* Paddings*/
.paddingleft15{
    padding-left: 15px;
}
.paddingleft20{
    padding-left: 20px;
}
.paddingleft30{
    padding-left: 30px;
}
.paddingright15 {
    padding-right: 15px;
}
.paddingright20{
    padding-right: 20px;
}
.paddingright30{
    padding-right: 30px;
}


/*Buttons*/
btn-extended {
    width:30% !important;
}

/*Slacker Modal*/
#fullscreen {
    position: fixed;
    top: 10px;
    right: 10px;
}


/*Selects*/
option:not(:checked) { 
	height: 50px;
    background-color: none !important;
	color : black;
}

option:checked { 
	height: 50px;
    background-color: transparent !important;
	color: white;
}

.modal-slacker {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.modal-slacker .modal-content {
	margin-top: 5%;
	border-radius: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 80%;
	overflow: auto;
}

.modal-slacker .modal-header .close {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.modal-slacker .modal-title {
	font-size: 34px;
	font-weight: bold;
}

@media (min-width: 992px) {
	.modal-slacker .modal-header,
	.modal-slacker .modal-body,
	.modal-slacker .modal-footer {
		width: 900px;
	}
}

@media (min-width: 768px) {
	.modal-slacker .modal-header,
	.modal-slacker .modal-body,
	.modal-slacker .modal-footer {
		width: 600px;
		margin: 30px auto;
	}
}